body {
    background-color: antiquewhite;
    font-family: serif;
    line-height: 1.5;
}

p {
    border-width: 2px;
    border-style: dotted;
    width: 60%;
}
.des {
    font-size: 15px;
    width: 70%;
    height:230px;
}
h1 {
    font-size: 40px;
    color: blue;
    font-weight: bold;
}

ul {
    color: brown;
    border-bottom: red;
    list-style-type: square;

}
p{
    font-size: 20px;
    background-color: pink;
}
table {
    background-color: seagreen;

}

.item{
    background: blue;
    color: white;
    margin: 10px;
    padding: 10px;
}
.container {
    background-color: white;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}